.markdown {
  @apply leading-normal;
}

.markdown p,
/*.markdown ul,
.markdown ol,*/
.markdown blockquote {
  @apply my-3;
}

.markdown img {
  @apply shadow-lg my-3
}

.markdown code{
  @apply rounded-xl mb-2
}
.markdown h2 {
  @apply text-3xl mt-10 mb-4 border-b border-gray-300 font-bold leading-relaxed;
}

.markdown h3 {
  @apply text-2xl mt-10 mb-4 font-bold leading-snug;
}

.markdown a {
  color: blue;
}

.markdown a:hover{
  text-decoration: underline;
}
.markdown a:visited{
  color: #609;
}

.markdown ol,
.markdown ul {
  margin-left: 2em;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown li {
  word-wrap: break-all;
}

.markdown li+li {
  margin-top: .25em;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}