.markdown {
  @apply leading-normal;
}

.markdown p,
/*.markdown ul,
.markdown ol,*/
.markdown blockquote {
  @apply my-3;
}

.markdown h2 {
  @apply text-3xl mt-10 mb-4 border-b border-gray-300 font-bold leading-relaxed;
}

.markdown h3 {
  @apply text-2xl mt-10 mb-4 font-bold leading-snug;
}

.markdown a {
  color: blue;
}

.markdown a:hover{
  text-decoration: underline;
}
.markdown a:visited{
  color: #609;
}