@tailwind base;

/* Write your own custom base styles here */
html,
body {
  font-family: Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,
    Hiragino Sans,Meiryo,sans-serif;
  font-size: 14px;
}

code.hljs {
  padding: 1em;
  font-size: 90%;
  font-family: Consolas, Monaco, monospace;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
