@tailwind base;

/* Write your own custom base styles here */
html,
body {
  font-family: Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,
    Hiragino Sans,Meiryo,sans-serif;
  font-size: 14px;
}

code.hljs {
  padding: 1em;
  font-size: 90%;
  font-family: Consolas, Monaco, monospace;
}

.main-content {
  @apply leading-normal;
}

.main-content p,
/*.main-content ul,
.main-content ol,*/
.main-content blockquote {
  @apply my-3;
}

.main-content img {
  @apply shadow-lg my-3
}

.main-content code{
  @apply rounded-xl mb-2
}
.main-content h2 {
  @apply text-2xl mt-10 mb-4 border-b border-gray-300 font-bold leading-relaxed;
}

.main-content h3 {
  @apply text-xl mt-10 mb-4 font-bold leading-snug;
}

.main-content a {
  color: blue;
}

.main-content a:hover{
  text-decoration: underline;
}
.main-content a:visited{
  color: #609;
}

.main-content ol,
.main-content ul {
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.main-content ol ol,
.main-content ol ul,
.main-content ul ol,
.main-content ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.main-content li {
  word-wrap: break-all;
}

.main-content li+li {
  margin-top: .25em;
}

.main-content ul {
  list-style-type: disc;
}

.main-content ol {
  list-style-type: decimal;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
